<!DOCTYPE html>
<html>
  <head>
    {% extends "base.html" %}
    {% import "bootstrap/wtf.html" as wtf %}
    {% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'main.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="title">Learning Flask</h1>
      </div>
    </header>
    
    {% block content %}
    {% endblock %}
    
  </body>
</html>